pkgbase = rtbth-dkms-git
	pkgdesc = Kernel module sources for Ralink RT3290 Bluetooth.
	pkgver = 3.9.6.r7.gce4e65d
	pkgrel = 1
	url = http://www.mediatek.com/
	install = rtbth-dkms.install
	arch = i686
	arch = x86_64
	license = mixed
	depends = dkms
	optdepends = bluez: Canonical implementation of Bluetooth protocol
	optdepends = bluez-utils: Utilities for Bluez
	provides = rtbth
	conflicts = rtbth-dkms
	source = git+https://github.com/ripsivis/rtbth-dkms.git
	sha256sums = SKIP

pkgname = rtbth-dkms-git
